* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(45, 8, 8);
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #0f0e0e;
  list-style: none;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #e2d7c8;
  text-decoration: none;
  font-family: Bona Nova sc;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0f0e0e;
  color: #e2d7c8;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: Lora;
}

.spadeking {
  display: inline-block;
  width: 160px;
  float: left;
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 23px;
}
.heartking {
  display: inline-block;
  width: 160px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 23px;
}
.stasi {
  display: inline-block;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
  width: 30%;
  padding: 10px;
  padding-top: 30px;
  background-image: url("pictures/stasi.jpg");
  background-size: cover;
  color: rgb(238, 230, 217);
  border: solid;
  border-color: black;
  margin-bottom: 30px;
  float: left;
}
.stasi h2 {
  font-weight: 700;
  font-family: Bona nova sc;
  margin: 5px;
}
.stasi p {
  font-weight: 400;
  font-family: Lora;
  margin: 0;
}
#countdown {
  background-color: #e2d7c8;
  border: solid;
  border-color: black;
  border-width: 10px;
  color: black;
  border-radius: 20px;
  padding: 5px;
}
.informacje {
  background-image: url(pictures/bridge2.jpg);
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 130px;
}
.regularne {
  width: 45%;
  display: inline-block;
  border: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: #e2d7c8;
  font-family: Lora;
  text-align: center;
  margin-left: 60px;
}
.regularne h3 {
  font-family: Bona Nova sc;
}
.eventy {
  width: 45%;
  display: inline-block;
  border: solid;
  border-color: black;
  padding: 10px;
  margin: 10px;
  background-color: #e2d7c8;
  font-family: Lora;
  text-align: center;
}
.eventy h3 {
  font-family: Bona Nova sc;
}
.materiały {
  width: 45%;
  border: solid;
  border-color: black;
  padding: 10px;
  margin: auto;
  background-color: #e2d7c8;
  font-family: Lora;
  text-align: center;
}
.materiały h3 {
  font-family: Bona Nova sc;
}
.h1 {
  text-align: center;
  font-family: Bona Nova SC;
}
.h1bridge {
  background-color: rgb(100, 12, 12);
  padding: 5px;
  border-radius: 10px;
}
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 768px) {
  .gallery-item h3 {
    font-size: 1em;
  }
  .gallery-item p {
    font-size: 0.9em;
  }
}
